<form class="form">
  <div class="form-group">
    <textarea class="form-control"></textarea>
  </div>
  <button class="btn btn-success">Add</button>
  <a href="#" class="close close-lg">&times;</a>
</form>
