/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

$brand-primary  : #598FAD;

@import "bootstrap";
@import "font-awesome";

// for fixed top navbar
body {
  padding-top: 70px; 
}

.panel-spaced {
  margin-left: 10px;
}

.well-unspaced {
  margin-top: 0px;
}

.close-lg {
  font-size: 30px;
}

// .backdrop {
//   position: absolute;
//   background-color: #23719F;
//   top: 50px;
//   bottom: 0px;
//   width: 2000px;
//   text-align: left;
// }
