/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.content {
  margin: 70px auto;
  width: 800px;
}

.lists {
  display: block;
}

.list {
  display: block;
  float: left;
  padding: 0 30px;
  margin: 20px;
  border: 5px solid #ccc;
  background: #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 1px black;
}

.card {
  margin: 5px auto;
  border: 3px;
  border-radius: 5px;
  background: #fff;

}

