<div class="panel panel-default">
  <div class="panel-heading"><h4><%= list.escape('title') %></h4></div>
  <div class="panel-body">
    <div id="cards"></div>
  </div>
  <div class="panel-footer">
    <a href="#">Add Card...</a>
  </div>
</div>
